In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# ----------------------------
# Load the Dataset
# ----------------------------

df = pd.read_csv('retail_data.csv')

print("Initial shape:", df.shape)
display(df.head())

# ----------------------------
# Null Value Summary
# ----------------------------
print("\nMissing value count per column:")
print(df.isnull().sum())

# ----------------------------
# Drop Columns with Too Many Nulls
# ----------------------------
df.dropna(thresh=len(df) * 0.5, axis=1, inplace=True)

# Fill numerical columns with median
for col in df.select_dtypes(include=[np.number]).columns:
    df[col].fillna(df[col].median(), inplace=True)

# Fill categorical columns with mode
for col in df.select_dtypes(include=["object"]).columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Drop rows with critical fields missing
if 'Product_ID' in df.columns and 'Total_Sales' in df.columns:
    df.dropna(subset=['Product_ID', 'Total_Sales'], inplace=True)

# ----------------------------
# Remove Duplicates
# ----------------------------
df.drop_duplicates(inplace=True)

# ----------------------------
# Rename Columns
# ----------------------------
rename_dict = {
    'Store Code': 'Store_ID',
    'Sales Value': 'Total_Sales',
    'Transaction Date': 'Date'
}
df.rename(columns=rename_dict, inplace=True)

# Convert Date column to datetime
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# ----------------------------
# Add Derived Features
# ----------------------------
if 'Product_Description' in df.columns:
    df['Description_Length'] = df['Product_Description'].apply(lambda x: len(str(x)))

if 'Total_Sales' in df.columns:
    df['Sales_Bucket'] = pd.qcut(df['Total_Sales'], q=4, labels=['Low', 'Medium', 'High', 'Very High'])

# ----------------------------
# Explore Distribution and Outliers
# ----------------------------
if 'Total_Sales' in df.columns:
    print("\nSkewness of Total_Sales:", df['Total_Sales'].skew())
    
    # Histogram
    plt.figure(figsize=(8, 4))
    sns.histplot(df['Total_Sales'], bins=50, kde=True)
    plt.title('Distribution of Total_Sales')
    plt.xlabel('Total_Sales')
    plt.ylabel('Frequency')
    plt.show()

    # Boxplot to detect outliers
    plt.figure(figsize=(8, 2))
    sns.boxplot(data=df, x='Total_Sales')
    plt.title('Boxplot of Total_Sales')
    plt.show()

    # Detect outliers using IQR
    Q1 = df['Total_Sales'].quantile(0.25)
    Q3 = df['Total_Sales'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outlier_count = ((df['Total_Sales'] < lower_bound) | (df['Total_Sales'] > upper_bound)).sum()
    print(f"Number of outliers in Total_Sales: {outlier_count}")

    # Optional: Apply log transform if highly skewed
    if df['Total_Sales'].skew() > 1:
        df['Log_Total_Sales'] = np.log1p(df['Total_Sales'])
        print("Applied log transformation to Total_Sales as 'Log_Total_Sales'")

        # Plot transformed
        plt.figure(figsize=(8, 4))
        sns.histplot(df['Log_Total_Sales'], bins=50, kde=True, color='green')
        plt.title('Log-Transformed Total_Sales Distribution')
        plt.xlabel('Log_Total_Sales')
        plt.show()

Initial shape: (1000000, 78)

,customer_id,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,...,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
0,1,56,Other,High,No,0,No,Divorced,3,Bachelor's,...,33.21,No,Spring,Yes,5,No,High,30,High,40
1,2,69,Female,Medium,No,2,No,Married,2,PhD,...,62.56,No,Summer,Yes,6,No,High,40,Medium,338
2,3,46,Female,Low,No,5,No,Married,3,Bachelor's,...,83.04,Yes,Winter,Yes,2,Yes,Low,89,Medium,61
3,4,32,Female,Low,No,0,No,Divorced,2,Master's,...,50.43,Yes,Winter,No,12,No,Low,12,Low,42
4,5,60,Female,Low,Yes,7,Yes,Divorced,2,Bachelor's,...,36.55,Yes,Summer,Yes,3,No,Medium,31,Low,242

Missing value count per column:
customer_id                 0
age                         0
gender                      0
income_bracket              0
loyalty_program             0
                           ..
email_subscriptions         0
app_usage                   0
website_visits              0
social_media_engagement     0
days_since_last_purchase    0
Length: 78, dtype: int64

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16632\3331146349.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16632\3331146349.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)